{% extends "base_topside.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Login Maske -->
<main>
    <div class="login-card">
        <h1>Anmelden</h1>
        
        <form id="loginForm" action="#" method="POST">
            <!-- E-Mail Feld -->
            <div class="form-group">
                <input type="email" class="form-input" placeholder="E-Mail Adresse" required>
            </div>
            
            <!-- Passwort Feld -->
            <div class="form-group">
                <input type="password" class="form-input" placeholder="Passwort" required>
            </div>
            
            <!-- Unterer Bereich: Link + Button -->
            <div class="card-footer">
                <a href="#" class="register-link">
                    Du hast noch keinen Account?<br>Dann erstelle dir einen!
                </a>
                <button type="submit" class="btn-submit">Anmelden</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
