# Syntax: https://git-scm.com/docs/gitignore

# General
.DS_Store
*~
.vscode
venv
*.swp

# secrets
deployment/.env.django
deployment/postgres_db_password.txt

# persistent data
src/statisticfiles/*
deployment/postgres_data/
*/db.sqlite3

