{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventFlow</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Hero Bereich inklusive Navigation -->
    <header class="hero-section">
        <nav>
            <a href="{% url 'Basis:index' %}" class="logo">EventFlow</a>
            <div class="nav-links">
                <a href="#">Popular</a>
                <a href="#">Your event</a>
                <a href="#">Your liked Events</a>
                <a href="#">Impressum</a>
                <a href="{% url 'veranstaltungen:veranstaltungen_your_events' %}">Deine Events</a>
            </div>
            <div class="auth-buttons">
                <a href="{% url 'Authentifizierung:Registrierung' %}" class="btn btn-signup">Sign up</a>
                <a href="{% url 'Basis:login' %}" class="btn btn-login">Log in</a>
            </div>
        </nav>
        {% block extra_header %} {% endblock %}
    </header>

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer>
        <div>
            <strong>EventFlow</strong><br>
            Your favorite event manager<br>
            Website since 202*<br><br>
            <small>Miro 2026</small>
        </div>
        <div class="footer-links">
            <a href="#">Help</a>
            <a href="#">FAQ</a>
            <a href="#">Customer service</a>
            <a href="#">How to guide</a>
            <a href="#">Contact us</a>
        </div>
    </footer>
    </body>
</html>