{% extends "base_topside.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block content %}
<main>
    <section name="Eventinfo">
        Hier finden Sie Informationen zu dem Event.
    </section>
    <section name="back">
        <a href="{% url 'event_list' %}" class="btn btn-secondary">
            <button>Zurück zur Liste</button>
        </a>
    </section>

    <section name="Beschreibung">
        Hier können sie eine Beschreibung eingeben.
        <br>
        <textarea name="Beschreibung" rows="10" cols="50">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </textarea>
    </section>

    <section name="Anforderungen">
        Hier können sie Ihre Anforderungen an das Event vermerken.
        <br>
        <textarea name="Anforderungen" rows="10" cols="50">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </textarea>
    </section>
    

    <section name="Anhang">
        <button id="Anhang" onclick="Anhang()">Anhang</button>
    </section>
</main>
{% endblock %}
