{% extends "base_topside.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block content %}
<main>
    <section name="search">
        <input type="text" value="Name" id="name"> 
        <button id="looking_for">Suchen</button>
    </section>

    <section name="table">
    
        <table id="table" >
            <!--Tabelle wird automatisch gefüllt. Wenn dann muss nur der Kopf vorhanden sein.-->
            <!-- |Marker | Name | Zeit | Ort | Kathegorien als Kopf-->
            <thead>
                <tr>
                    <th data-column="Marker">Marker</th>
                    <th data-column="Name">Name</th>
                    <th data-column="startzeit">Beginn</th>
                    <th data-column="endzeit">Ende</th>
                    <th data-column="Ort">Ort</th>
                    <!--<th data-column="Kategorien">Kategorien</th>-->
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for events in events %}
                <tr>
                <td>{{event.marker}}</td>
                <td>{{event.title}}</td>
                <td>{{event.start_datum}}</td>
                <td>{{event.end_datum}}</td>
                <td>{{event.ort}}</td>
                <!--<td>{{event.kategorien}}</td>-->
                    </tr>
                    {%empty%}
                <tr>
                    <td colspan="5">Keine Events gefunden</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
    <section name="Auswahl">
        <a href="{% url 'event_bewerbung' %}" class="btn btn-secondary">
            <button>Auf Event Bewerden</button>
        </a>
        
    </section>
</main>
{% endblock %}